<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ fid }}管理页面</title>
</head>
<body>
    <p>
        设备类型：
        {% if f.type == 1 %}
            空调
        {% elif f.type == 2 %}
            电梯
        {% else %}
            新设备
        {% endif %}
    </p>
    <p>设备编号：{{ f.fid }}</p><br>
    <p>设备地址：{{ f.address }}</p><br>
    <p>设备状况：{% if f.status == 1%}
                  正在工作
                {% elif f.status == 0 %}
                    正在维修
                {% else %}
                    特殊情况，原因不明
                {% endif %}
    </p>
<h3>
    <a href="/facility/{{ f.fid }}/comment">点击查看 {{ f.fid }} 的评论</a>
    <a href="/">回首页</a>
</h3>
</body>
</html>